@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030712;
  --foreground: #f3f4f6;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.glass-effect {
  @apply bg-gray-900/50 backdrop-blur-lg border border-gray-800;
}

